h1{
    color:rgb(124, 114, 24);
    font-size: 35px;
    text-align: center;
    color: white;
    font-weight: bold;
}
div#imagem{
    text-align: center;
}
body{
    background-color:blanchedalmond;
    background-image: url(imagens/elenco-de-lua-nova.jpg);
}
p, ol, ul, h5, table{
    color: white;
    font-weight: bold;
}